.tarea__lista {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  gap: 3rem;
  place-items: center;
}
.mensaje {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #fff;
  margin-top: 3rem;
}
